* {
	color: #06234b;
}

.title-clubinn {
	color: #e8a02f;
	font-size: 28px;
	margin: 0;
}

.container-padding {
	padding: 0 100px !important;
}

.h-120-px {
	height: 120px;
}

.clubinn-blue-color {
	background-color: #06234b !important;
}

.btn-clubinn-blue {
	color: white !important;;
}

.table-clubinn>tbody>tr>td {
	color: #333333 !important;
	font-size: 14px;
}

.clubinn-th-text {
	font-size: 600;
	color: #06234b !important;
}

.active-tab {
	color: #e8a02f;
	border-bottom: #e8a02f solid 1px;
}

.active-tab>a>strong {
	color: #e8a02f;
}

.gap-title {
	gap: 15px;
}

.status {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;

}
.Pendiente {
	background-color: #ff0000;
}
.Respondido {
	background-color: #4BAF4E;
}

@media only screen and (min-device-width: 769px) {
	.border-menu {
		border-left: hsl(214deg 16% 60%) solid 2px;
	}
	.gap-menu {
		gap: 30px;
	}
}
